{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About - Vedesh Learns Django</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
  </head>
  <body>
    <nav class="navbar-container">
      <ul class="navbar">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact Me</a></li>
      </ul>
    </nav>
    <div class="container">
      <h1>About Me</h1>

      <ul class="about-list">
        <li>
          Hello! I'm Vedesh, a passionate learner diving into the world of
          Django.
        </li>
        <li>I am a student at Osmania University.</li>
        <li>Currently in my final year in AIML.</li>
        <li>
          I enjoy building web applications and exploring new technologies.
        </li>
      </ul>
    </div>
  </body>
</html>
