{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Me - Vedesh Learns Django</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
  </head>
  <body>
    <nav>
      <ul class="navbar">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact Me</a></li>
      </ul>
    </nav>
    <div class="container">
      <h1>Contact Me</h1>
      <p>
        If you have any questions or just want to connect, feel free to reach
        out!
      </p>

      <form action="#" method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea>

        <input type="submit" value="Send Message" />

        <h4>
          Further, here are my contacts (if you want to reach me personally)
        </h4>
        <ul class="contact-info">
          <li><b>Email:</b> your.email@example.com</li>
          <li><b>Mobile:</b> +1234567890</li>
        </ul>
      </form>
    </div>
  </body>
</html>
